description = "Contactos"

[viewBag]
==
<section id="contact">
            <div class="container">
                <div class="row wow fadeInDown" data-wow-delay="0.3s">
                    <div class="col-md-8 col-sm-7 contact-form">
                        <form role="form" id="contactForm" data-toggle="validator">
                            <div class="title-header">
                                <h3 class="title-medium pull-left">Send us a message</h3>
                                <div class="icon pull-right"><i class="icon-envelope"></i></div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="label-line">
                                    <span class="span"></span>
                                    <label class="label transition">Name</label>
                                    <input type="text" class="input" id="name" required data-error="Please enter your name">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="label-line">
                                    <span class="span"></span>
                                    <label class="label transition">Email</label>
                                    <input type="email" class="input" id="email" required data-error="Please enter your email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="label-line textarea">
                                    <span class="span"></span>
                                    <label class="label transition">Message</label>
                                    <textarea id="message" class="input" required data-error="Write your message"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <button type="submit" id="form-submit" class="btn btn-common">Send <i class="icon-paper-plane" aria-hidden="true"></i></button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        </form>
                    </div>
                <div class="col-md-4 col-sm-5 information">
                    <div class="title-header">
                        <h3 class="title-medium">Contact Informatione</h3>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="info">
                            <span class="detail">Marriott Marquis, San Francisco, CA<br> United States</span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="info">
                            <span class="detail">+123456789000</span>
                        </div>
                    </div>
                    <div class="contact-datails">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="info">
                            <span class="detail"><a href="http://demo.graygrids.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="96fff8f0f9d6f7f4f5f2b8f5f9fb">[email&#160;protected]</a></span>
                        </div>
                    </div>
                    <div class="social text-center">
                        <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="social" href="#" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
                </div>
            </div>
        </section>