description = "Copyright"

[viewBag]
==
<section id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright-text text-center">
                        ©Designed and Developed by
                        <a href="http://graygrids.com/">
                            GrayGrids
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>