description = "Ponentes"

[viewBag]
==
<section id="speakers" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h2 class="section-title wow fadeInUp" data-wow-delay="0s">Meet Our Speakers</h2>
                <p class="section-subcontent wow fadeInUp" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. A <br> enean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="speakers-member wow fadeIn" data-wow-delay="0.1s">
                        <div class="member-img">
                            <img src="{{ 'assets/img/teacher/img-1.png'|theme }}" alt="">
                        </div>
                        <div class="member-desc">
                            <h3>Jon Doe</h3>
                            <h5>CEO, Peloton Cycle</h5>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p>
                            <div class="social-icon">
                                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="speakers-member wow fadeIn" data-wow-delay="0.3s">
                        <div class="member-img">
                            <img src="{{ 'assets/img/teacher/img-2.png'|theme }}" alt="">
                        </div>
                        <div class="member-desc">
                            <h3>Natali Aero</h3>
                            <h5>Co-founder, Hometeam</h5>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p>
                            <div class="social-icon">
                                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="speakers-member wow fadeIn" data-wow-delay="0.5s">
                        <div class="member-img">
                            <img src="{{ 'assets/img/teacher/img-3.png'|theme }}" alt="">
                        </div>
                        <div class="member-desc">
                            <h3>Leo Amber</h3>
                            <h5>Director, Via</h5>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p>
                            <div class="social-icon">
                                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="speakers-member wow fadeIn" data-wow-delay="0.7s">
                        <div class="member-img">
                            <img src="{{ 'assets/img/teacher/img-4.png'|theme }}" alt="">
                        </div>
                        <div class="member-desc">
                            <h3>Jeson Eva</h3>
                            <h5>Co-founder, theSkimm</h5>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p>
                            <div class="social-icon">
                                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="speakers-member wow fadeIn" data-wow-delay="0.9s">
                        <div class="member-img">
                            <img src="{{ 'assets/img/teacher/img-5.png'|theme }}" alt="">
                        </div>
                        <div class="member-desc">
                            <h3>Lamba Kureshi</h3>
                            <h5>Professor, Boston University</h5>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p>
                            <div class="social-icon">
                                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="speakers-member wow fadeIn" data-wow-delay="1s">
                        <div class="member-img">
                         <img src="{{ 'assets/img/teacher/img-6.png'|theme }}" alt="">
                        </div>
                        <div class="member-desc">
                            <h3>Leo Amber</h3>
                            <h5>CEO, lrisVR</h5>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those intereste.</p>
                            <div class="social-icon">
                                <a class="social" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-dribbble"></i></a>
                                <a class="social" href="#" target="_blank"><i class="fa fa-behance"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="more-btn text-center">
            <a href="speakers.html" class="btn btn-common wow fadeInUp" data-wow-delay="0.3s">show more</a>
            </div>
            </div>
        </div>
    </section>