description = "Contador"

[viewBag]
==
<section class="countdown-timer section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="text">
                        <h2>Impression <br>Startup Event</h2>
                        <h4>Marriott Marquis, San Francisco, CA <br> Jan 25, 2018 - Jan 28, 2018 </h4>
                        <a href="pricing.html" class="btn btn-lg btn-common">Buy Tickets</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="time-countdown">
                        <div id="clock" class="time-count"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>