[viewBag]

[staticMenu MainMenu]
code = "mainmenu"
==
<header id="header-wrap">
    <div id="roof" class="hidden-xs">
    <div class="container">
        <div class="col-md-6 col-sm-6">
        <div class="info-bar-address">
            <i class="icon-location-pin"></i> San Francisco, CA, United States
        </div>
        </div>
        <div class="col-md-6 col-sm-6">
        <div class="quick-contacts">
            <span><i class="icon-phone"></i> (00) 123 456 789</span>
            <span><i class="icon-envelope"></i><a href="#"><span class="__cf_email__" data-cfemail="bdd8d0dcd4d1fddad0dcd4d193ded2d0">[email&#160;protected]</span></a></span>
        </div>
        </div>
    </div>
    </div>
    <div class="navigation-menu">
        <nav class="navbar navbar-default navbar-event">
            <div class="container">
                <div class="navbar-header col-md-2">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><img src="{{ 'assets/img/logo1.png'| theme }}"  alt=""></a>
                </div>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if MainMenu.menuItems %}
                        <ul class="nav navbar-nav navbar-right">
                            {% partial MainMenu ~ "::items" items=MainMenu.menuItems %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div id="navbarmobile">
                <ul class="wpb-mobile-menu">
                    {% if MainMenu.menuItems %}
                        {% partial MainMenu ~ "::items-mobile" items=MainMenu.menuItems %}
                    {% endif %}
    
                </ul>
            </div>
        </nav>
    </div>

</header>